<div *ngIf="companyRegistered" class="confirmation-message">
  <h2>¡Compañía registrada correctamente!</h2>
  <p>
    Te enviaremos un link de confirmación para que actives tu cuenta de compañía
    y puedas ofrecer tus campos.
  </p>
  <button mat-button (click)="goToHome()">Ir a Home</button>
</div>
<div *ngIf="!companyRegistered" class="container">
  <button class="intro-button" *ngIf="isMobile" (click)="openDialog()">
    Ver Introducción
  </button>
  <div class="stepper">
    <mat-stepper [orientation]="orientation" [linear]="true">
      <!-- Paso 1: Registrar Empresa -->
      <mat-step
        [stepControl]="empresaFormGroup"
        [completed]="empresaFormGroup.valid"
      >
        <form [formGroup]="empresaFormGroup" novalidate>
          <ng-template matStepLabel>Registrar Empresa</ng-template>
          <h6>Escibe primero tu RUC para validarlo</h6>
          <div class="grid-container">
            <mat-form-field appearance="outline">
              <mat-label>RUC</mat-label>
              <input
                matInput
                #input
                maxlength="11"
                placeholder="Ex. 8293100562"
                formControlName="ruc"
                (input)="onRucInput($event)"
                required
                type="text"
              />
              <mat-hint align="end">{{ value().length }}/11</mat-hint>
            </mat-form-field>
            <mat-form-field class="grid-item" appearance="outline">
              <mat-label>Razón Social</mat-label>
              <input matInput formControlName="razonSocial" readonly required />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <span matTextPrefix>+51 &nbsp;</span>
              <mat-label>Teléfono</mat-label>
              <input
                matInput
                maxlength="9"
                placeholder="Ex. 904533437"
                formControlName="telefono"
                (input)="onTelefonoInput($event)"
                required
                type="text"
              />
              <mat-hint align="end">{{ valueTelefono().length }}/9</mat-hint>

              <!-- Mensajes de error para el teléfono -->
              <mat-error
                *ngIf="
                  empresaFormGroup.get('telefono')?.hasError('required') &&
                  empresaFormGroup.get('telefono')?.touched
                "
              >
                El teléfono es obligatorio.
              </mat-error>
              <mat-error
                *ngIf="
                  empresaFormGroup.get('telefono')?.hasError('pattern') &&
                  empresaFormGroup.get('telefono')?.touched
                "
              >
                El teléfono debe empezar con 9 y tener exactamente 9 dígitos.
              </mat-error>
            </mat-form-field>

            <mat-form-field class="grid-item" appearance="outline">
              <mat-label>Dirección</mat-label>
              <input matInput formControlName="direccion" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="ubicacion">
              <mat-label>Departamento</mat-label>
              <mat-select
                formControlName="departamento"
                (selectionChange)="onDepartamentoChange()"
              >
                <mat-option
                  *ngFor="let dept of departamentos"
                  [value]="dept.id"
                >
                  {{ dept.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="ubicacion">
              <mat-label>Provincia</mat-label>
              <mat-select
                formControlName="provincia"
                (selectionChange)="onProvinciaChange()"
              >
                <mat-option
                  *ngFor="let prov of filteredProvincias"
                  [value]="prov.id"
                >
                  {{ prov.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Distrito</mat-label>
              <mat-select formControlName="distrito">
                <mat-option
                  *ngFor="let dist of filteredDistritos"
                  [value]="dist.id"
                >
                  {{ dist.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="button-container">
            <button
              mat-button
              matStepperNext
              [disabled]="!empresaFormGroup.valid"
            >
              Siguiente
            </button>
          </div>
        </form>
      </mat-step>

      <!-- Paso 2: Registrar Compañía -->
      <mat-step
        [stepControl]="companiaFormGroup"
        [completed]="companiaFormGroup.valid"
      >
        <form [formGroup]="companiaFormGroup" novalidate>
          <ng-template matStepLabel>Registrar Compañía</ng-template>
          <h6>Completa todos los datos de la compañía</h6>
          <div class="grid-container">
            <mat-form-field class="grid-item" appearance="outline">
              <mat-label>Nombre de la Compañía</mat-label>
              <input matInput formControlName="nombre" required />
            </mat-form-field>

            <mat-form-field class="grid-item" appearance="outline">
              <mat-label>Concepto</mat-label>
              <input matInput formControlName="concepto" required />
            </mat-form-field>

            <mat-form-field class="grid-item" appearance="outline">
              <mat-label>Correo Electrónico</mat-label>
              <input matInput formControlName="correo" required type="email" />
            </mat-form-field>

            <mat-form-field class="grid-item" appearance="outline">
              <span matTextPrefix>+51 &nbsp;</span>
              <mat-label>Número de Yape</mat-label>
              <input
                matInput
                maxlength="9"
                placeholder="Ex. 904533437"
                formControlName="yape"
                (input)="onYapeInput($event)"
                required
                type="text"
              />
              <mat-hint align="end">{{ valueYape().length }}/9</mat-hint>

              <!-- Mensajes de error para el teléfono -->
              <mat-error
                *ngIf="
                  companiaFormGroup.get('yape')?.hasError('required') &&
                  companiaFormGroup.get('yape')?.touched
                "
              >
                El número Yape es obligatorio.
              </mat-error>
              <mat-error
                *ngIf="
                  companiaFormGroup.get('yape')?.hasError('pattern') &&
                  companiaFormGroup.get('yape')?.touched
                "
              >
                El número Yape debe empezar con 9 y tener exactamente 9 dígitos.
              </mat-error>
            </mat-form-field>

            <div class="grid-item">
              <h6 class="info">Imagen de la sede</h6>
              <!-- Apartado para Foto de la Sede -->
              <label class="label-file" for="fileInput">Foto de la Sede</label>
              <input
                class="file"
                type="file"
                id="fileInput"
                (change)="onFileSelected($event, 'imagenSede')"
                required
                [ngClass]="{
                  'invalid-input':
                    companiaFormGroup.get('imagenSede')?.invalid &&
                    companiaFormGroup.get('imagenSede')?.touched
                }"
              />
              <!-- Mostrar el nombre del archivo si se ha seleccionado -->
              <span *ngIf="fileName" class="file-name">{{ fileName }}</span>
              <div
                *ngIf="
                  companiaFormGroup.get('imagenSede')?.invalid &&
                  companiaFormGroup.get('imagenSede')?.touched
                "
                class="error-message"
              >
                Este campo es obligatorio.
              </div>
            </div>

            <div class="grid-item">
              <h6 class="info">Codigo QR de Yape</h6>
              <!-- Apartado para QR de Yape -->
              <label class="label-file" for="qrInput">QR de Yape</label>
              <input
                class="file"
                type="file"
                id="qrInput"
                (change)="onFileSelected($event, 'imagenQrYape')"
                required
                [ngClass]="{
                  'invalid-input':
                    companiaFormGroup.get('imagenQrYape')?.invalid &&
                    companiaFormGroup.get('imagenQrYape')?.touched
                }"
              />
              <!-- Mostrar el nombre del archivo si se ha seleccionado -->
              <span *ngIf="qrFileName" class="file-name">{{ qrFileName }}</span>
              <div
                *ngIf="
                  companiaFormGroup.get('imagenQrYape')?.invalid &&
                  companiaFormGroup.get('imagenQrYape')?.touched
                "
                class="error-message"
              >
                Este campo es obligatorio.
              </div>
            </div>
            <mat-form-field appearance="fill">
              <mat-label>Hora de inicio</mat-label>
              <mat-select
                formControlName="horaInicio"
                (selectionChange)="onStartHourChange($event)"
              >
                <mat-option
                  *ngFor="let hour of availableStartHours"
                  [value]="hour"
                >
                  {{ convertTo12HourFormat(hour) }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Hora de fin</mat-label>
              <mat-select formControlName="horaFin">
                <mat-option
                  *ngFor="let hour of filteredEndHours"
                  [value]="hour"
                >
                  {{ convertTo12HourFormat(hour) }}
                  <!-- Mostrar en formato 12 horas -->
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="button-container">
            <button mat-button matStepperPrevious>Anterior</button>
            <button
              mat-button
              matStepperNext
              [disabled]="!companiaFormGroup.valid"
              (click)="submitForm()"
            >
              Siguiente
            </button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </div>
  <div class="intro-container" *ngIf="!isMobile">
    <div class="header">
      <h1 class="title">¡Bienvenido a Zemply!</h1>
    </div>
    <div class="content">
      <p class="intro">
        Zemply es la plataforma líder para reservas de canchas deportivas.
        Conectamos a tus clientes con tu negocio, permitiendo reservas rápidas y
        sencillas desde cualquier dispositivo.
      </p>
      <div class="benefits">
        <h3 class="section-title">¿Por qué unirte a Zemply?</h3>
        <ul class="benefits-list">
          <li>
            <h6>Mayor visibilidad:</h6>
            Atrae a una amplia audiencia de jugadores locales y visitantes.
          </li>
          <li>
            <h6>Aumento de reservas:</h6>
            Facilita las reservas 24/7, impulsando tus ingresos.
          </li>
          <li>
            <h6>Gestión simplificada:</h6>
            Herramientas intuitivas para administrar horarios y disponibilidad.
          </li>
          <li>
            <h6>Mejor experiencia del cliente:</h6>
            Ofrece conveniencia y fortalece la lealtad de tus clientes.
          </li>
          <li>
            <h6>Promoción personalizada:</h6>
            Destaca tus instalaciones y eventos especiales para atraer más
            jugadores.
          </li>
        </ul>
      </div>
      <div class="cta">
        <h3 class="cta-title">¡Únete a Zemply hoy!</h3>
      </div>
    </div>
  </div>
</div>
