<app-sidebar-prueba></app-sidebar-prueba>
<div class="container">
  <div class="content">
    <h1>Gestiona tus campos</h1>
    <button mat-fab extended (click)="openDialog()">
      <mat-icon>add_circle</mat-icon>
      Agregar
    </button>
    <div class="table">
      <div class="mat-mdc-table">
        <app-table
          class="mat-elevation-z8"
          [columns]="columns"
          [dataSource]="dataSource"
          (actionClick)="onAction($event)"
        ></app-table>
      </div>
    </div>
  </div>
</div>
