<div class="factura" id="invoice">
  <header class="header">
    <div class="company-info">
      <h1>{{ data.razonSocial }}</h1>
      <p><strong>RUC:</strong> {{ data.ruc }}</p>
      <p><strong>Dirección:</strong> {{ data.direccionEmpresa }}</p>
      <p><strong>Teléfono:</strong> {{ data.telefonoEmpresa }}</p>
    </div>
    <img [src]="data.imageUrl" alt="Logo" />
  </header>

  <section class="info">
    <p>
      <strong>{{ data.comprobante }}</strong>
    </p>
    <p><strong>Serie:</strong> {{ data.serie }}</p>
    <p><strong>Número:</strong> {{ data.numero }}</p>
    <p><strong>Fecha de emisión:</strong> {{ data.fecha }}</p>
  </section>

  <section class="client">
    <p><strong>Cliente:</strong> {{ data.cliente }}</p>
    <p><strong>Dirección:</strong> {{ data.direccionCliente }}</p>
    <p><strong>DNI:</strong> {{ data.identificacion }}</p>
    <p><strong>Celular:</strong> {{ data.celular }}</p>
  </section>

  <section class="items">
    <table>
      <thead>
        <tr>
          <th>Descripción</th>
          <th>Cantidad</th>
          <th>Precio Unitario</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data.detallesVenta">
          <td>{{ item.campoNombre }}</td>
          <td>1</td>
          <td>S/{{ item.precio.toFixed(2) }}</td>
          <td>S/{{ item.precio.toFixed(2) }}</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="totals">
    <p><strong>Subtotal:</strong> S/{{ data.subtotal.toFixed(2) }}</p>
    <p><strong>IGV (18%):</strong> S/{{ data.igv.toFixed(2) }}</p>
    <p><strong>Descuento:</strong> S/{{ data.descuento.toFixed(2) }}</p>
    <p>
      <strong>Total:</strong> <strong>S/{{ data.total.toFixed(2) }}</strong>
    </p>
  </section>

  <section class="qr">
    <canvas id="qrCode"></canvas>
  </section>

  <footer class="footer">
    <p>
      Generado automáticamente - Gracias por su preferencia. Visita nuestra
      página web:
      <a href="https://zemply.vercel.app/" target="_blank">Zemply</a>
    </p>
  </footer>
</div>

<div class="download-btn">
  <button id="downloadPdf" (click)="descargarPdf()">Descargar Factura</button>
</div>
