<app-loading *ngIf="isLoading"></app-loading>
<app-navbar></app-navbar>

<!-- Contenedor principal para centrar el contenido -->
<div class="container">
  <!-- Encabezado de la página -->
  <img
    class="image"
    [src]="sedeConCampos?.companiaImagenUrl"
    [alt]="sedeConCampos?.companiaNombre"
  />
  <h1>{{ sedeConCampos?.companiaNombre }}</h1>

  <div class="direccion">
    <mat-icon>location_on</mat-icon>
    <h6>{{ sedeConCampos?.direccion }}</h6>
  </div>
  <mat-divider class="divider"></mat-divider>
  <header class="page-header">
    <h1>Reservar Campo Deportivo</h1>
    <p>
      Selecciona los días, horas y completa el proceso de pago para reservar tu
      campo.
    </p>
  </header>

  <!-- Componente de proceso de reserva -->
  <section class="reservation-section">
    <div class="reserva-content">
      <!-- Tabla de reserva de campos -->
      <app-reserva-list
        #reservaList
        *ngIf="campos"
        [campos]="campos"
        (reservaFinalizada)="agregarReservaFinalizada($event)"
      >
      </app-reserva-list>

      <!-- Contenedor para el resumen y el botón -->
      <div class="resumen-boton-container">
        <h6>Resumen de la reserva</h6>
        <!-- Componente de resumen -->
        <app-campos-resumen
          [reservas]="reservasFinalizadas"
          (reservaEliminada)="onReservaEliminada($event)"
        ></app-campos-resumen>

        <!-- Botón para ir a la pasarela de pago -->
        <button mat-raised-button color="primary" (click)="irPasarelaDePago()">
          Reservar Ahora
        </button>
      </div>
    </div>
  </section>
  <div class="opiniones">
    <app-opiniones [companiaId]="userId"></app-opiniones>
  </div>
</div>
