<div mat-dialog-title>
  <h2>¡Bienvenido a nuestro sistema de registro de sedes!</h2>
</div>
<div mat-dialog-content>
  <p>
    Te presentamos Zemply, la plataforma líder para reservas de canchas
    deportivas. Con Zemply, tus clientes podrán reservar de manera rápida y
    sencilla desde sus dispositivos móviles, conectándolos con locales como el
    tuyo. Beneficios de afiliarte a Zemply: Mayor visibilidad: Tu local será
    visto por una amplia audiencia de jugadores locales y visitantes. Aumento de
    reservas: Facilita las reservas en cualquier momento y lugar, impulsando tus
    ingresos. Gestión simplificada: Administra horarios y disponibilidad con
    herramientas intuitivas. Mejor experiencia del cliente: Ofrece la
    conveniencia de reservar en línea, fortaleciendo la lealtad de tus clientes.
    Promoción personalizada: Destaca tus instalaciones y eventos especiales para
    atraer más jugadores. Únete a Zemply hoy y lleva tu negocio al siguiente
    nivel. Contáctanos para comenzar, y juntos haremos de tu local el destino
    preferido para los amantes del deporte.
  </p>
</div>
<mat-dialog-actions>
  <button mat-button cdkFocusInitial (click)="closeDialog()">Cerrar</button>
</mat-dialog-actions>
