<div class="dialog-content">
  <div class="left-side">
    <img src="campo4.jpg" alt="Login Image" />
  </div>

  <div class="right-side">
    <h2 *ngIf="isLogin">Iniciar sesión</h2>
    <h2
      *ngIf="
        !isLogin && !isVerification && !isPasswordReset && !isPasswordChange
      "
    >
      Registrarse
    </h2>
    <h2 *ngIf="isVerification">Verificar Código</h2>

    <h2 *ngIf="isPasswordChange">Cambiar Contraseña</h2>

    <!-- Formulario de Login -->
    <div *ngIf="isLogin">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Usuario o correo electrónico</mat-label>
        <input matInput [(ngModel)]="loginUser.identifier" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" [(ngModel)]="loginUser.password" />
      </mat-form-field>

      <div class="resend-container">
        ¿Te has olvidado tu contraseña?
        <a class="resend-link" (click)="onResetPassword()"> Recuperar aquí </a>
      </div>

      <div class="login-container">
        <button class="button login" (click)="onLogin()">Iniciar sesión</button>
      </div>

      <div *ngIf="loginError" class="error-message">
        <p>Usuario o contraseña incorrectos</p>
      </div>

      <div class="final">
        <button class="btn" mat-button (click)="toggleForm()">
          ¿No tienes cuenta? Regístrate
        </button>
      </div>
    </div>

    <!-- Formulario de Registro -->
    <div
      *ngIf="
        !isLogin && !isVerification && !isPasswordReset && !isPasswordChange
      "
    >
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Correo</mat-label>
        <input matInput [(ngModel)]="registerUser.email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Nombre de usuario</mat-label>
        <input matInput [(ngModel)]="registerUser.username" />
        <mat-error *ngIf="!isUsernameValid">
          El nombre de usuario solo debe contener letras y números, sin
          espacios.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" [(ngModel)]="registerUser.password" />
      </mat-form-field>

      <button class="button register" color="primary" (click)="onRegister()">
        Registrarse
      </button>

      <div class="final">
        <button align="end" class="btn" mat-button (click)="toggleForm()">
          ¿Ya tienes cuenta? Inicia sesión
        </button>
      </div>
    </div>

    <!-- Formulario de Verificación -->
    <div *ngIf="isVerification">
      <p>
        Se envió un código de verificación al correo:
        <strong>{{ registerUser.email }}</strong>
      </p>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Código de Verificación</mat-label>
        <input matInput [(ngModel)]="verificationCode" maxlength="6" />
      </mat-form-field>

      <div class="resend-container">
        ¿No te llegó el código?
        <a class="resend-link" (click)="onResendVerificationCode()">
          Reenviar
        </a>
      </div>

      <button class="button verify" color="primary" (click)="onVerifyCode()">
        Verificar
      </button>
    </div>

    <!-- Formulario de Recuperación de Contraseña -->
    <div *ngIf="isPasswordReset && !isPasswordChange">
      <div class="back-button-container">
        <!-- Botón con flecha para regresar al inicio de sesión -->
        <button mat-icon-button color="primary" (click)="toggleForm()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="back-text">Volver</span>
      </div>
      <h2>Recuperar contraseña</h2>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Correo para recuperación</mat-label>
        <input matInput [(ngModel)]="resetPasswordEmail" />
      </mat-form-field>

      <button
        class="button verify"
        color="primary"
        (click)="onRequestPasswordReset()"
      >
        Solicitar Código de Verificación
      </button>
    </div>

    <!-- Formulario para cambiar la contraseña -->
    <div *ngIf="isPasswordChange">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Correo</mat-label>
        <input matInput disabled [(ngModel)]="resetPassword.email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Código de Verificación</mat-label>
        <input matInput [(ngModel)]="resetPassword.verificationCode" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Nueva Contraseña</mat-label>
        <input
          matInput
          type="password"
          [(ngModel)]="resetPassword.newPassword"
        />
      </mat-form-field>

      <button
        class="button change-password"
        color="primary"
        (click)="onChangePassword()"
      >
        Cambiar Contraseña
      </button>

      <div class="final">
        <button class="btn" mat-button (click)="toggleForm()">
          ¿Ya tienes cuenta? Inicia sesión
        </button>
      </div>
    </div>
  </div>
</div>
