* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  background: linear-gradient(135deg, #4a90e2, #213759); /* Degradado suave */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s, box-shadow 0.3s; /* Transición suave */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.navbar-container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: space-between; /* Separar logo de los otros elementos */
  align-items: center;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold; /* Negrita para mayor impacto */
}

.nav-section {
  display: flex;
  align-items: center; /* Alinear verticalmente el contenido */
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

/* Estilo específico para el botón "Ir al panel admin" */
.admin-button {
  background-color: #9c27b0;
  color: #ffffff;
  /* font-weight: bold; */
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 16px;
}

.admin-button:hover {
  background-color: #7b1fa2; /* Púrpura más oscuro para hover */
  transform: scale(1.1); /* Zoom más marcado en hover */
}


.nav-button {
  color: white;
  background: transparent; /* Botones transparentes para resaltar el fondo */
  border: none;
  cursor: pointer;
  padding: 10px 20px; /* Aumentar el espacio */
  border-radius: 5px;
  transition: background 0.3s, transform 0.2s; /* Transición suave para el hover */
  font-size: 16px; /* Tamaño de fuente más grande */
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.05); /* Efecto de zoom al hover */
}

.highlight {
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* Resaltar botones de iniciar y cerrar sesión */
}

/* Estilo específico para el botón "Únete como sede" */
.join-us-button {
  background-color: #ffc107; /* Color destacado */
  color: #213759;
  font-weight: bold;
  padding: 12px 25px; /* Tamaño un poco mayor */
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s; /* Transición suave */
}

.join-us-button:hover {
  background-color: #ff9800; /* Color al hacer hover */
  transform: scale(1.1); /* Zoom más marcado en hover */
}

.welcome-message {
  color: white; /* Color de texto para el nombre de usuario */
  font-size: 16px; /* Tamaño de fuente del mensaje */
  margin-left: 20px; /* Espacio a la izquierda del nombre de usuario */
  font-weight: bold; /* Hacerlo más destacado */
}

/* Estilos para la hamburguesa */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 3px 0;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 53px;
    right: 0;
    background-color: #4a90e2; /* Color de fondo más atractivo */
    flex-direction: column;
    width: 100%;
    display: none; /* Ocultar el menú en dispositivos móviles */
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 999;
    border-radius: 5px; /* Esquinas redondeadas */
  }

  .nav-links.active {
    display: flex; /* Mostrar menú cuando está activo */
    align-items: center;
    padding: 10px;
    opacity: 1;
  }

  .nav-links li {
    margin: 15px 0;
  }

  .menu-icon {
    display: flex; /* Mostrar ícono de hamburguesa en dispositivos móviles */
    margin-left: auto; /* Alinear a la derecha */
  }

  .navbar-container {
    flex-direction: row;
    justify-content: space-between;
  }

  /* En móviles, el nombre de usuario solo aparecerá sin "Bienvenido" */
  .welcome-message {
    display: inline; /* Mostrar solo el nombre de usuario */
    margin-left: 10px; /* Espacio a la izquierda del nombre de usuario */
  }
}
