<nav class="navbar">
  <div class="navbar-container">
    <div class="logo">Zemply</div>
    <div class="nav-section">
      <ul class="nav-links" [class.active]="menuOpen">
        <li><button class="nav-button">Servicios</button></li>
        <li><button class="nav-button">Sobre Nosotros</button></li>
        <li *ngIf="!currentUser">
          <button class="nav-button highlight" (click)="openLoginDialog()">
            Iniciar sesión
          </button>
        </li>
        <li *ngIf="currentUser">
          <button class="nav-button highlight" (click)="logout()">
            Cerrar sesión
          </button>
        </li>
      </ul>
      <span *ngIf="currentUser" class="welcome-message">{{ currentUser }}</span>
    </div>
    <div class="menu-icon" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
</nav>
