<app-navbar></app-navbar>

<section id="carusel">
  <app-carousel [images]="images"></app-carousel>
</section>

<div class="campos-container">
  <div class="demo-inline-calendar-card">
    <h5>Selecciona tu distrito</h5>
    <mat-form-field appearance="outline" class="district-select">
      <mat-select [(value)]="selectedDistrict">
        <mat-option *ngFor="let district of districts" [value]="district">
          {{ district }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Calendario con fecha seleccionada -->
    <mat-calendar
      [(selected)]="selected"
      class="calendar"
      [minDate]="minDate"
      [maxDate]="maxDate"
    ></mat-calendar>
  </div>

  <div class="campos-lista">
    <app-campo-card
      *ngFor="let campo of campos"
      [campo]="campo"
    ></app-campo-card>
  </div>
</div>
