/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  background: rgba(74, 144, 226, 0.8);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-button {
  color: rgba(74, 144, 226, 0.8);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s, transform 0.2s;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}

/* Carousel */
#carusel {
  margin-top: -70px; /* El carrusel sube detrás de la navbar */
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: 93vh;
  object-fit: cover;
  position: relative;
}

/* Estilos específicos para el texto y el carrusel */
.invitation-text {
  flex: 1;
  text-align: left;
}

app-carousel {
  flex: 1;
}

/* Estilos para el selector de distrito */
.district-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Estilos para el selector */
.district-select {
  width: 100%;
  max-width: 800px;
}

/* Ajuste del calendario */
.demo-inline-calendar-card {
  width: 100%;
  max-width: 300px;
}

.calendar {
  position: sticky;
  top: 60px;
}

/* Estilos para el contenedor de los campos */
.campos-container {
  display: flex;
  max-width: 1800px;
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  gap: 14px;
}

.no-resultados {
  text-align: center;
  color: #666;
  font-size: 16px;
  margin-top: 20px;
}

.filtro {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.campos-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
}

/* Asegura que las tarjetas de campo tengan un tamaño adecuado */
app-campo-card {
  max-width: 400px;
  width: 100%; /* Asegura que la tarjeta ocupe todo el ancho disponible */
}

/* Estilos para el carrusel en dispositivos móviles */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    align-items: center;
    overflow-x: hidden; /* Asegura que no haya scroll horizontal */
  }

  .content-container {
    flex-direction: column;
    gap: 0;
    overflow-x: hidden; /* Asegura que no haya scroll horizontal */
  }

  .invitation-text {
    text-align: center;
  }

  .district-selector {
    max-width: 90%;
  }

  .district-select {
    max-width: 100%;
  }

  /* Aseguramos que el calendario sea responsivo */
  .campos-container {
    max-width: 100%;
    gap: 0px;
  }

  /* Ocultar el calendario en dispositivos móviles */
  .demo-inline-calendar-card {
    display: none; /* Oculta el calendario en pantallas pequeñas */
  }

  /* Limitar el tamaño de las tarjetas en dispositivos móviles */
  app-campo-card {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 0 15px;
  }
}
