<app-navbar></app-navbar>
<div class="pasarela-pago-container">
  <h2>Completa el pago de tu reserva</h2>

  <mat-card class="resumen-card">
    <mat-card-content>
      <div class="table-container example-table-container">
        <table
          mat-table
          [dataSource]="reservas"
          class="mat-elevation-z8 custom-table"
        >
          <!-- Nombre del campo -->
          <ng-container matColumnDef="nombreCampo">
            <th mat-header-cell *matHeaderCellDef>Campo</th>
            <td mat-cell *matCellDef="let reserva">
              {{ reserva.campoNombre }}
            </td>
          </ng-container>

          <!-- Fecha -->
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let reserva">
              {{ formatDate(reserva.fecha) }}
            </td>
          </ng-container>

          <!-- Hora de inicio -->
          <ng-container matColumnDef="horaInicio">
            <th mat-header-cell *matHeaderCellDef>Hora Inicio</th>
            <td mat-cell *matCellDef="let reserva">
              {{ reserva.horaInicio | date : "hh:mm a" }}
            </td>
          </ng-container>

          <!-- Hora de fin -->
          <ng-container matColumnDef="horaFin">
            <th mat-header-cell *matHeaderCellDef>Hora Fin</th>
            <td mat-cell *matCellDef="let reserva">
              {{ reserva.horaFinal | date : "hh:mm a" }}
            </td>
          </ng-container>

          <!-- Precio -->
          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef>Precio</th>
            <td mat-cell *matCellDef="let reserva">s/{{ reserva.precio }}</td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="[
              'nombreCampo',
              'fecha',
              'horaInicio',
              'horaFin',
              'precio'
            ]"
          ></tr>
          <tr
            mat-row
            *matRowDef="
              let row;
              columns: [
                'nombreCampo',
                'fecha',
                'horaInicio',
                'horaFin',
                'precio'
              ]
            "
          ></tr>
        </table>
      </div>

      <div class="total-container">
        <h3>Total: {{ total | number : "1.2-2" }}</h3>
      </div>

      <!-- Botón para pagar con Yape -->
      <button mat-flat-button color="primary" (click)="openDialog()">
        Pagar con Yape
      </button>
    </mat-card-content>
  </mat-card>
</div>
