.pasarela-pago-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  text-align: center; /* Centra el texto */
}

.pasarela-pago-container h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #0d47a1; /* Azul más oscuro */
}

.resumen-card {
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 12px; /* Bordes redondeados */
}

.custom-table {
  border-radius: 8px;
  overflow: hidden;
}

.total-container {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #1b5e20; /* Verde oscuro para el total */
  text-align: right;
  background-color: #f5f5f5; /* Fondo gris claro para resaltar */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.total-item {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.label {
  color: #333; /* Color oscuro para las etiquetas */
}

.value {
  color: #2e7d32; /* Verde para los valores */
}

.discount {
  color: #d32f2f; /* Rojo para el descuento */
}

.igv {
  color: #1976d2; /* Azul para IGV */
}

.total-final {
  border-top: 2px solid #000000; /* Línea verde para separar el total */
  padding-top: 10px;
  font-size: 1.4rem;
}

.label-total {
  font-weight: bold;
  color: #0d0f5e;
}

mat-form-field {
  padding-top: 30px;
  width: 100%;
}

.total {
  font-weight: bold;
  color: #0d0f5e; /* Verde más oscuro para el total final */
  font-size: 1.5rem;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  font-size: 1.1rem;
  background-color: #1976d2; /* Azul de Material Design */
  color: white;
  border-radius: 8px;
}

button:hover {
  background-color: #1565c0;
}

.yape {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  font-size: 1.1rem;
  background-color: #ceddeb; /* Azul de Material Design */
  border-radius: 8px;
}

.yape:hover {
  background-color: #dae3ec;
}

.mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Responsive design */
@media (max-width: 600px) {
  .pasarela-pago-container {
    font-size: 0.9rem;
  }

  .example-table-container {
    overflow: auto;
  }

  h2 {
    font-size: 1.5rem;
  }

  button {
    font-size: 1rem;
  }

  .custom-table {
    font-size: 0.85rem;
  }

  .total-container {
    font-size: 1rem;
  }
}

/* Mejora visual para tablas */
.mat-elevation-z8 {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

.mat-header-cell,
.mat-cell {
  text-align: center;
  padding: 12px 16px;
  font-size: 1rem;
}

.mat-header-row {
  background-color: #e3f2fd;
  font-weight: bold;
}

.mat-row:hover {
  background-color: #f1f8ff;
}

.mat-cell {
  border-bottom: 1px solid #e0e0e0;
}
