<div class="gradient-background">
  <img
    class="pelota pelota1"
    src="https://www.svgrepo.com/show/490538/ball-football.svg"
    alt="Pelota de fútbol"
  />
  <img
    class="pelota pelota2"
    src="https://www.svgrepo.com/show/490538/ball-football.svg"
    alt="Pelota de fútbol"
  />
  <img
    class="pelota pelota3"
    src="https://www.svgrepo.com/show/490538/ball-football.svg"
    alt="Pelota de fútbol"
  />

  <div class="login-container">
    <!-- Sección de la imagen y contenido, se ocultará en pantallas móviles -->
    <div class="image-section">
      <mat-card class="example-card" appearance="outlined">
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content style="margin-top: 16px">
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Sección de login que debe estar centrada en la pantalla -->
    <div class="login-section">
      <form>
        <h2 class="login-parts">Login</h2>
        <div class="login-parts icon-container">
          <mat-icon fontIcon="account_circle" class="icon"></mat-icon>
        </div>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="Ingresa tu usuario" type="text" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Clave</mat-label>
          <input matInput placeholder="Ingresa tu clave" type="password" />
        </mat-form-field>

        <div class="login-parts">
          <button mat-flat-button color="primary">Iniciar sesión</button>
        </div>
      </form>
    </div>
  </div>
</div>
