<div class="carousel-container">
  <div class="invitation-container">
    <div class="invitation-text">
      <h2>Alquila tu cancha al instante</h2>
      <p>
        Vive momentos inolvidables con amigos o familiares jugando en nuestros
        diversos campos.
      </p>
    </div>
  </div>
  <div class="carousel">
    <div class="image-container">
      <img
        [src]="images[currentIndex]"
        alt="Campo de fútbol"
        class="carousel-image"
        [ngClass]="fadeClass"
      />
    </div>
  </div>
</div>
