<div class="carousel-container">
  <div class="invitation-container">
    <div class="invitation-text">
      <h2>¡Alquila ya tu campo de futbol!</h2>
      <p>
        Disfruta de un momento divertido con amigos o familiares alquilando uno
        de nuestros campos de fútbol.
      </p>
    </div>
  </div>
  <div class="carousel">
    <div class="image-container">
      <img
        [src]="images[currentIndex]"
        alt="Campo de fútbol"
        class="carousel-image"
        [ngClass]="fadeClass"
      />
    </div>
  </div>
</div>
