<h2 mat-dialog-title>Selecciona la fecha y horas del alquiler</h2>
<div mat-dialog-content>
  <mat-stepper [linear]="isLinear" #stepper orientation="vertical">
    <!-- Paso 1: Seleccionar fecha -->
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Selecciona la fecha</ng-template>

        <mat-form-field appearance="outline">
          <mat-label>Fecha de reserva</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="fechaReserva"
            [min]="minDate"
            [max]="maxDate"
            (dateChange)="onDateChange($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div>
          <button
            mat-button
            matStepperNext
            [disabled]="!firstFormGroup.valid"
            [disabled]="isThereHours"
          >
            Continuar
          </button>
        </div>
      </form>
    </mat-step>

    <!-- Paso 2: Seleccionar hora -->
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>
          Selecciona la hora de inicio y fin
        </ng-template>

        <!-- Contenedor flex para las horas de inicio y fin -->
        <div class="hours-container">
          <mat-form-field appearance="fill">
            <mat-label>Hora de inicio</mat-label>
            <mat-select
              formControlName="horaInicio"
              (selectionChange)="onHourSelected($event, true)"
            >
              <mat-option
                *ngFor="let hour of availableHours"
                [value]="hour"
                [disabled]="unavailableHours.includes(hour)"
              >
                {{ formatHour(hour) }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Hora de fin</mat-label>
            <mat-select
              formControlName="horaFin"
              (selectionChange)="onHourSelected($event, false)"
            >
              <mat-option
                *ngFor="let hour of filteredEndHours"
                [value]="hour"
                [disabled]="unavailableHours.includes(hour)"
              >
                {{ formatHour(hour) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="precio">
          <button mat-button matStepperPrevious>Regresar</button>
          <h6>PRECIO: s/. {{ precio }}</h6>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="cerrarDialogo()">Cerrar</button>
  <button
    mat-flat-button
    (click)="completeReserva()"
    color="success"
    [disabled]="!secondFormGroup.valid"
  >
    Finalizar
  </button>
</div>
