<div class="campo-resumen-container">
  <mat-card *ngFor="let reserva of reservas" class="campo-card">
    <button
      mat-icon-button
      (click)="removeReserva(reserva)"
      class="close-button"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-card-content>
      <div class="reserva-detalles">
        <div class="reserva-item">
          <mat-icon>location_on</mat-icon>
          <span>Campo: {{ reserva.campoNombre }}</span>
        </div>
        <div class="reserva-item">
          <mat-icon>event</mat-icon>
          <span>Fecha: {{ formatDate(reserva.fecha) }}</span>
        </div>
        <div class="reserva-item">
          <mat-icon>access_time</mat-icon>
          <span>Hora Inicio: {{ formatHour(reserva.horaInicio) }}</span>
        </div>
        <div class="reserva-item">
          <mat-icon>access_time</mat-icon>
          <span>Hora Final: {{ formatHour(reserva.horaFinal) }}</span>
        </div>
        <div class="reserva-item">
          <mat-icon>payments</mat-icon>
          <span>Precio: {{ reserva.precio | number : "1.2-2" }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
