<div class="reserva-list-container">
  <h5>Campos disponibles</h5>

  <div *ngIf="reservas.length === 0">
    <p>No hay campos reservados. Agrega alguno para comenzar.</p>
  </div>

  <div class="table-container example-table-container">
    <table
      mat-table
      [dataSource]="reservas"
      class="mat-elevation-z8 example-table"
      matSort
      matSortActive="fecha"
      matSortDisableClear
      matSortDirection="asc"
    >
      <ng-container matColumnDef="nombreCampo" sticky>
        <th mat-header-cell *matHeaderCellDef>Campo</th>
        <td mat-cell *matCellDef="let reserva">{{ reserva.nombreCampo }}</td>
      </ng-container>

      <ng-container matColumnDef="seleccionar" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>Selecc.</th>
        <td mat-cell *matCellDef="let reserva">
          <button
            mat-mini-fab
            class="green-button"
            (click)="abrirDialogo(reserva); toggleRotation(reserva)"
            [ngClass]="{
              'rotate-icon': reserva.rotating,
              finalizada: reserva.finalizada
            }"
          >
            <mat-icon>sports_soccer</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let reserva">
          <mat-chip> sintético | Con iluminación | Con Beelup</mat-chip>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="['nombreCampo', 'descripcion', 'seleccionar']"
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let row;
          columns: ['nombreCampo', 'descripcion', 'seleccionar']
        "
      ></tr>
    </table>
  </div>
</div>
